.index {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        width: 1200px;
        height: 1200px;
        background-color: blueviolet;
        .el-carousel__item {
            img{
                width: 200px;
                height: 200px;
            }
            // background-color: #99a9bf;
         }
         
         .el-carousel__item:nth-child(2n+1) {
            background-color: #d3dce6;
         }
    

    }
}