.index{
    &-banner{
        background-color: #e4f4ff;
        width: 100%;
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: center;
        img{
            width: 80%;
        };
    }
}